<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postman Report</title>
    <style>
        body {
            width: 60%;
            margin: 0 auto;
        }

        .container {
            width: 100%;
            border: 1px;
        }

        .center {
            text-align: center;
        }

        .col-md-12 {
            width: 100%;
        }

        table {
            width: 100%;
            padding: 0;
            border-collapse: collapse;
        }

        thead {
            background: black;
            color: white;

        }

        th {
            padding: 10px;
        }

        td {
            border-bottom: 1px solid silver;
            padding: 10px;
        }
        .panel-group{
            color:red;
        }

        pane .row{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        pane .row div{
            flex-grow: 1;
        }
        .error{
            color:red;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Report</h3>
    <pane>

        <div class="row">
            {{#with summary}}
                <div class="col-md-9">{{collection.name}}</div>
            {{/with}}
            <div class="col-md-9">{{timestamp}}</div>
        </div>

        {{#if collection.description}}
            <div>{{collection.description}}&nbsp;</div>{{/if}}
    </pane>
</div>

{{#if summary.failures.length}}
    <br/><h4>Failures</h4>

    {{#each summary.failures}}
        <div class="pane">
            <div class="error"><h2>{{#if error.test}}{{error.test}}{{else}}{{error.message}}{{/if}}</h2></div>
            <div><h3>{{error.message}}</h3></div>
        </div>
    {{/each}}
{{/if}}
</div>
</body>
</html>

{{#*inline "aggregations"}}
    {{#each executions}}
        <div class="panel-group" id="collapse-request-{{item.id}}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="requestHead-{{item.id}}">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                               href="#requestData-{{item.id}}"
                                               aria-controls="collapseOne">{{item.name}}</a></h4>
                </div>

                <div id="requestData-{{item.id}}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="requestHead-{{item.id}}">
                    <div class="panel-body">
                        {{#with request}}
                            {{#if description.content}}
                                <div class="col-md-4">Description</div>
                                <div class="col-md-8" style="white-space: pre-wrap;">{{description.content}}</div>
                                <div class="col-md-12">&nbsp;</div>
                            {{/if}}

                            <div class="col-md-4">Method</div>
                            <div class="col-md-8">{{method}}</div>
                            <div class="col-md-4">URL</div>
                            <div class="col-md-8"><a href="{{url}}" target="_blank">{{url}}</a></div>
                        {{/with}}

                        <div class="col-md-12">&nbsp;</div>
                        {{#if requestError}}
                            <div class="col-md-4"><b>Error</b></div>
                            <div class="col-md-8"><b>There was an error sending this request</b></div>
                            <div class="col-md-4"><b>Error code</b></div>
                            <div class="col-md-8"><b>{{requestError.code}}</b></div>
                            {{#if requestError.connect}}
                                <div class="col-md-4"><b>Details</b></div>
                                <div class="col-md-8"><b>A connection to the host could not be established within the
                                    stipulated
                                    timeout</b></div>
                            {{/if}}
                        {{/if}}

                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-4">Mean time per request</div>
                        <div class="col-md-8">{{mean.time}}</div>
                        <br/>
                        <div class="col-md-4">Mean size per request</div>
                        <div class="col-md-8">{{mean.size}}</div>
                        <br/>

                        <div class="col-md-12">&nbsp;</div>
                        <br/>
                        <div class="col-md-4">Total passed tests</div>
                        <div class="col-md-8">{{cumulativeTests.passed}}</div>
                        <div class="col-md-4">Total failed tests</div>
                        <div class="col-md-8">{{cumulativeTests.failed}}</div>
                        <br/>

                        <div class="col-md-12">&nbsp;</div>
                        <br/>
                        <div class="col-md-4">Status code</div>
                        <div class="col-md-8">{{response.code}}</div>
                        <br/>

                        {{#if assertions.length}}
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-4">Tests</div>

                            <div class="col-md-8">
                                <table class="table table-responsive table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Pass count</th>
                                        <th>Fail count</th>
                                    </tr>
                                    </thead>
                                    <tbody>{{#each assertions}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.passed}}</td>
                                            <td>{{this.failed}}</td>
                                        </tr>{{/each}}</tbody>
                                </table>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{/inline}}
